# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

Assignment1/Problem2/otn_public_datasets_cleaned_normalized/
Assignment1/Problem3/Cleaned_Dataset/
Assignment2/Problem2/Olist_Datasets_Filtered/
Assignment2/Problem2/Olist_Datasets_On_GCP/
Assignment4/Hourly_Weather_Datasets_Normalized/
